<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @assembly.description %>
</p>

<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
